{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["src/commands/**/*.js", "src/modules/**/*.js"],
      "options": {
        "singleAttributePerLine": true,
        "bracketSameLine": false
      }
    }
  ]
}
